<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <form action="/create" method="post">
            <label for="short-id">Short id:</label>
            <input type="text" name="short-id" />

            <label for="long-url">Long url:</label>
            <input type="text" name="long-url" />

            <button type="submit">Submit</button>
        </form>
    </body>
</html>
